@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 247, 246, 246;
  --foreground: 255, 255, 255;

  /* Primary Colors */
  --primary-color-1: 30, 30, 30;
  --primary-color-2: 245, 102, 48;
  --primary-color-3: 247, 158, 27;
  --primary-color-4: 252, 73, 73;
  --primary-color-5: 102, 113, 133;
  --primary-color-6: 255, 194, 166;
  --primary-color-7: 0, 128, 0;
  --primary-color-8: 33, 76, 206;
  --primary-color-9: 0, 122, 255;

  /* UI Elements */
  --icon-fill: 255, 255, 255, 0;
  --sidebar-background: 255, 255, 255;
  --badge: 254, 156, 156;

  /* Component Colors */
  --card: 255, 255, 255;
  --card-foreground: 10, 10, 10;
  --popover: 255, 255, 255;
  --popover-foreground: 10, 10, 10;
  --primary: 23, 23, 23;
  --primary-foreground: 250, 250, 250;
  --secondary: 245, 245, 245;
  --secondary-foreground: 23, 23, 23;
  --muted: 245, 245, 245;
  --muted-foreground: 115, 115, 115;
  --accent: 245, 245, 245;
  --accent-foreground: 23, 23, 23;
  --destructive: 255, 102, 102;
  --destructive-foreground: 250, 250, 250;

  /* Utilities */
  --border: 208, 213, 221;
  --input: 229, 229, 229;
  --ring: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10, 10, 10;
    --foreground: 250, 250, 250;

    /* Primary Colors */
    --primary-color-1: 255, 255, 255;
    --primary-color-2: 156, 142, 108;
    --primary-color-3: 235, 235, 233;
    --primary-color-4: 223, 166, 87;
    --primary-color-5: 137, 85, 9;

    /* UI Elements */
    --icon-fill: 255, 255, 255;
    --sidebar-background: 30, 30, 30;

    /* Component Colors */
    --card: 10, 10, 10;
    --card-foreground: 250, 250, 250;
    --popover: 10, 10, 10;
    --popover-foreground: 250, 250, 250;
    --primary: 250, 250, 250;
    --primary-foreground: 23, 23, 23;
    --secondary: 38, 38, 38;
    --secondary-foreground: 250, 250, 250;
    --muted: 38, 38, 38;
    --muted-foreground: 163, 163, 163;
    --accent: 38, 38, 38;
    --accent-foreground: 250, 250, 250;
    --destructive: 127, 29, 29;
    --destructive-foreground: 250, 250, 250;

    /* Utilities */
    --border: 38, 38, 38;
    --input: 38, 38, 38;
    --ring: 212, 212, 212;
  }
}

html,
body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
